body {
    
    background: hsl(218, 22%, 73%) ;
  }
.main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.box{
    height: 390px;
    width: 230px;
    background: white;
    border-radius: 5%;
    text-align: center;
    padding: 15px;
    padding-bottom: 0px;
}

.rounded-image{
    border-radius: 5%;
}

.bold{
    font: 11px;
    font-weight: 800;
    font-family: 'Open Sans', sans-serif;
}

.text{
    font: 11px;
    color: hsl(212, 45%, 89%);
    font-family: 'Open Sans', sans-serif;
}